header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/images/291984.jpg") center / cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 1;
}

header > .header-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  margin-top: 80px;
}

.header-text > h1 {
  text-align: center;
  font-size: 34px;
}

.header-text > p {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
}

.navigation-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  background-color: rgb(255, 255, 255);
  color: black;
  gap: 50px;
  overflow: hidden;
}

.navigation-cards > .navigation-cards-header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 1000px;
  align-content: center;
  gap: 20px;
}

.navigation-cards-header > h2 {
  font-size: 24px;
}

.navigation-cards-header > p {
  font-size: 16px;
  line-height: 24px;
}

.navigation-cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navigation-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
  background-color: rgb(245, 245, 245);
  text-align: center;
  transition: ease 0.1s;
  z-index: 1;
}

.navigation-card:hover {
  border: 2px solid rgba(51, 52, 142);
}

.navigation-card > img {
  width: 100%;
}

.earth-animation {
  position: absolute;
  width: 350px;
  top: -350px;
  left: -350px;
  animation: earthAnimation 4s linear;
}

.mars-rover-animation {
  position: absolute;
  width: 400px;
  top: 50%;
  right: -400px;
  animation: marsRoverAnimation 4s linear;
}

.meteor-animation {
  position: absolute;
  width: 300px;
  top: 50%;
  right: -300px;
  animation: meteorAnimation 1.5s linear;
}

.telescope-animation {
  position: absolute;
  width: 400px;
  top: 20%;
  left: -400px;
  animation: telescopeAnimation 3s linear;
}

@keyframes earthAnimation {
  0% {
    top: -350px;
    left: -350px;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}

@keyframes marsRoverAnimation {
  0% {
    top: 50%;
    right: -400px;
  }
  100% {
    top: 50%;
    right: 100%;
  }
}

@keyframes meteorAnimation {
  0% {
    top: -300px;
    right: -300px;
  }
  100% {
    top: 100%;
    right: 100%;
  }
}

@keyframes telescopeAnimation {
  0% {
    top: 20%;
    left: -400px;
  }
  100% {
    top: 60%;
    left: 100%;
  }
}
