.mars-rover-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 20px;
  margin-top: 80px;
  color: black;
}

.mars-rover-section > h1 {
  text-align: center;
  font-size: 30px;
}

.mars-rover-filters {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  top: 80px;
  background-color: rgb(245, 245, 245);
  z-index: 10;
  gap: 20px;
  box-shadow: 0 0 5px rgb(185, 185, 185);
}

.mars-rover-filters > div {
  display: flex;
  gap: 40px;
}

.mars-rover-filters > div > label {
  display: flex;
  gap: 10px;
  align-items: center;
}

.mars-rover-filters > div > label > input[type="date"] {
  border: 1px solid rgb(185, 185, 185);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.mars-rover-filters > div > label > select {
  border: 1px solid rgb(185, 185, 185);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.mars-rover-filters > button {
  color: white;
  background-color: rgb(51, 52, 142);
  border: none;
  padding: 5px 10px;
}
