.main-nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0 20px;
  font-family: var(--font-ui);
  box-shadow: 0 0 3px 0.2px rgba(51, 52, 142);
}

.main-nav > .logo {
  display: flex;
  width: 60px;
  padding: 10px 0;
}

.logo > img {
  width: 100%;
}

.main-nav > .nav-links {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.main-nav > .nav-links > a {
  text-decoration: none;
  color: white;
  padding: 0 5px;
  position: relative;
}

.main-nav > .nav-links > a::before,
.main-nav > .nav-links > a::after {
  content: "";
  position: absolute;
  background-color: white;
  transition: all 0.3s ease;
}

.main-nav > .nav-links > a::before {
  top: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  transform-origin: top left;
  transform: scaleX(0);
  border-radius: 5px;
}

.main-nav > .nav-links > a::after {
  bottom: 0;
  right: 0;
  width: 0;
  height: 1.5px;
  transform-origin: bottom right;
  transform: scaleX(0);
  border-radius: 5px;
}

.main-nav > .nav-links > a:hover::before,
.main-nav > .nav-links > a:hover::after {
  width: 100%;
  transform: scaleX(1);
  background-color: rgba(51, 52, 142, 255);
}

.main-nav > .nav-links > .active::before,
.main-nav > .nav-links > .active::after {
  width: 100%;
  transform: scaleX(1);
  background-color: rgba(51, 52, 142, 255);
}
