:root {
  --font-ui: "Teko", sans-serif;
  --content-font: "Orbitron", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--content-font);
  color: white;
}

@font-face {
  font-family: "Teko";
  src: url("./assets/fonts/Teko/Teko-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 700;
  font-style: normal;
}

/* sizing of map container */
